---
import Root from "../../layouts/Root.astro";
import { SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/Display/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Root title="Blog" description={SITE_DESCRIPTION}>
  <div class="page-title-wrapper">
    <h1 class="page-title">Blog</h1>
  </div>
  <section>
    <ol>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <div class="title-date">
                <h2 class="title">{post.data.title}</h2>
                <p>
                  <FormattedDate date={post.data.pubDate} className="time" />
                </p>
              </div>
              <img
                class="image"
                width={300}
                height={300}
                src={post.data.heroImage}
                alt={post.data.heroImageText}
              />
              <p class="description">{post.data.description}</p>
            </a>
          </li>
        ))
      }
    </ol>
  </section>
</Root>

<style lang="scss">
  @import "../../styles/_globals.scss";

  .page-title-wrapper {
    display: flex;
    padding-top: var(--padding-double);
  }

  .page-title {
    margin: auto;
  }

  section {
    max-width: var(--page-max-width);
    margin: auto;
  }

  ol {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--padding-double);
    margin: unset;
    padding: var(--padding-double) 0;
  }

  li {
    @include elev-1();
    padding: 0 var(--padding-half);
  }

  a {
    padding: var(--padding) 0;
    display: grid;
    grid-template-areas:
      "image"
      "title-date"
      "description";
    justify-items: center;
    text-align: center;
    color: unset;
    text-decoration: unset;
  }

  a:active > div > .title,
  a:hover > div > .title {
    text-decoration: underline;
    text-decoration-color: $primary;
  }

  .title-date {
    grid-area: title-date;
    padding: var(--padding) 0;
  }

  .title {
    margin: unset;
  }

  .time {
    color: $text-medium-emphasis;
  }

  .image {
    grid-area: image;
    border-radius: var(--border-radius);
  }

  .description {
    grid-area: description;
  }

  @include bp-medium {
    li {
      @include elev-1();
      border-radius: var(--border-radius);
    }

    a {
      padding: 0;
      grid-template-areas:
        "image title-date"
        "image description";
    }

    .title-date {
      padding: var(--padding);
    }

    .image {
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
      margin: 0;
    }

    .description {
      padding: var(--padding);
    }
  }
</style>
