---
import { Root } from "../layouts";
import { Button, Section } from "../components";

import {
  URL_LINKEDIN,
  URL_INSTAGRAM,
  URL_GITHUB,
  SITE_DESCRIPTION,
} from "../consts";
---

<Root title={"Alex Tuppen"} description={SITE_DESCRIPTION}>
  <Section>
    <img
      width="160"
      height="240"
      src="/logo/white.svg"
      alt="Alex Tuppen logo"
      class="logo"
    />
    <div>
      <h1>Alex</h1>
      <h1>Tuppen</h1>
    </div>
    <h2>Full stack developer</h2>
    <div>
      <Button variant="large-icon" href={URL_LINKEDIN} external={true}>
        <img
          src="/icons/websites/linkedin.svg"
          alt="LinkedIn logo"
          class="logo"
        />
      </Button>
      <Button variant="large-icon" href={URL_INSTAGRAM} external={true}>
        <img
          src="/icons/websites/instagram.svg"
          alt="Instagram logo"
          class="logo"
        />
      </Button>
      <Button variant="large-icon" href={URL_GITHUB} external={true}>
        <img src="/icons/websites/github.svg" alt="Github logo" class="logo" />
      </Button>
    </div>
  </Section>
</Root>
