---
import { URL_LINKEDIN, URL_INSTAGRAM, URL_GITHUB } from "../../../consts";
import { Button } from "../../Input";
import Menu from "./Menu.astro";

export const internalLinks = [
  {
    link: "/recipes",
    text: "Recipes",
  },
  {
    link: "/blog",
    text: "Blog",
  },
  {
    link: "/experience",
    text: "Experience",
  },
];

export const externalLinks = [
  {
    link: URL_LINKEDIN,
    text: "LinkedIn",
  },
  {
    link: URL_INSTAGRAM,
    text: "Instagram",
  },
  {
    link: URL_GITHUB,
    text: "Github",
  },
];

const { className } = Astro.props;
---

<header class:list={[className]}>
  <div class="root">
    <div class="nav-bar">
      <Button href="/" className="home-link" variant="text">
        <img class="logo" src="/logo/white.svg" alt="Alex Tuppen logo" />
        <span class="home-link-text">Alex Tuppen</span>
      </Button>
      <div class="links">
        {
          internalLinks.map(({ link, text }, index) => (
            <>
              <Button href={link} variant="text" className="internal">
                {text}
              </Button>
              {index < internalLinks.length - 1 ? (
                <hr class:list={["toolbar-seperator", "internal"]} />
              ) : null}
            </>
          ))
        }
        <hr class:list={["primary-seperator", "external"]} />
        {
          externalLinks.map(({ link, text }, index) => (
            <>
              <Button
                href={link}
                variant="text"
                external={true}
                className="external"
              >
                {text}
              </Button>
              {index < externalLinks.length - 1 ? (
                <hr class:list={["toolbar-seperator", "external"]} />
              ) : null}
            </>
          ))
        }
        <div class="button-wrapper">
          <Menu />
        </div>
      </div>
    </div>
  </div>
</header>

<style lang="scss">
  @import "../../../styles/_globals.scss";

  .root {
    @include elev-9();
    display: flex;
    padding: var(--padding-half);
    position: sticky;
    justify-content: center;
  }

  .nav-bar {
    width: 100%;
    max-width: var(--page-max-width);
    display: flex;
    justify-content: space-between;
  }

  .home-link {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .home-link:hover,
  .home-link:active {
    text-decoration: underline;
    text-decoration-color: $primary;
    text-decoration-style: double;
  }

  .logo {
    --logo-height: 2rem;
    height: var(--logo-height);
    width: calc(var(--logo-height) / 1.5);
  }

  .home-link-text {
    color: $text;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    margin-left: var(--padding);
  }

  .links {
    display: flex;
    align-items: center;
    gap: var(--padding-half);
  }

  .internal,
  .external {
    display: none;
  }

  .toolbar-seperator,
  .primary-seperator {
    height: 100%;
  }

  .toolbar-seperator {
    border-right-color: $text;
  }

  .primary-seperator {
    border-right-color: $primary;
  }

  .button-wrapper {
    --burger-width: 2rem;
    position: relative;
    display: block;
    height: 100%;
  }

  @include bp-small {
    .logo {
      --logo-height: 2.25rem;
    }

    .internal {
      display: flex;
    }
  }

  @include bp-medium {
    .external {
      display: flex;
    }

    .button-wrapper {
      display: none;
    }
  }

  @include bp-large {
    .logo {
      --logo-height: 2.5rem;
    }
  }
</style>
