---
import { URL_LINKEDIN, URL_INSTAGRAM, URL_GITHUB } from "../../consts";
import Button, { ButtonVariants } from "../Button/Button.astro";
import "./Header.scss";

const internalLinks = [
  {
    link: "/experience",
    text: "Experience",
  },
];

const externalLinks = [
  {
    link: URL_LINKEDIN,
    text: "LinkedIn",
  },
  {
    link: URL_INSTAGRAM,
    text: "Instagram",
  },
  {
    link: URL_GITHUB,
    text: "Github",
  },
];
---

<header>
  <div class="root">
    <div class="navBar">
      <Button href="/" className="homeLink" variant={ButtonVariants.Text}>
        <img class="logo" src="/logo/white.svg" alt="Alex Tuppen logo" />
        <span class="homeLinkText">Alex Tuppen</span>
      </Button>
      <div class="links">
        <div class="toolbarInternal">
          {
            internalLinks.map((link) => (
              <Button href={link.link} variant={ButtonVariants.Text}>
                {link.text}
              </Button>
            ))
          }
        </div>
        <div class="toolbarExternal">
          {
            externalLinks.map((link) => (
              <Button
                href={link.link}
                variant={ButtonVariants.Text}
                external={true}
              >
                {link.text}
              </Button>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</header>
