---
import type { CollectionEntry } from "astro:content";
import Root from "../layouts/Root.astro";
import { FormattedDate } from "../components/Display";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, heroImageText } =
  Astro.props;
---

<Root title={title} description={description}>
  <article>
    <div class="heroWrapper">
      {
        heroImage && (
          <img
            width="300"
            height="300"
            src={heroImage}
            alt={heroImageText}
            title={heroImageText}
            class="heroImage"
          />
        )
      }
    </div>
    <div class="wrapper">
      <div class="titleWrapper">
        <h1 class="title">{title}</h1>
        <div class="date">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div>
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <hr class="separator" />
      </div>
      <div class="content">
        <slot />
      </div>
    </div>
  </article>
</Root>

<style lang="scss">
  @import 'src/styles/_globals.scss';
  @import 'src/styles/typography.scss';

  article {
    max-width: var(--pageMaxWidth);
    margin: auto;
  }

  .heroWrapper {
    display: flex;
    padding-top: var(--padding);
  }

  .heroImage {
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: var(--borderRadiusDouble);
  }

  .wrapper {
    width: calc(100% - var(--paddingDouble));
    margin: auto;
  }

  .titleWrapper {
    display: flex;
    flex-direction: column;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    text-align: center;
  }

  .title {
    margin-bottom: var(--padding);
  }

  .date {
    margin-bottom: var(--paddingDouble);
    color: $textMediumEmphasis;
  }

  .separator {
    border-bottom-color: $text;
    margin: 0 var(--paddingDouble);
  }

  .content {
    max-width: var(--contentMaxWidth);
    margin: auto;
  }

  @include bp-small {
    .heroImage {
      width: 50%;
      height: 50%;
      margin: auto;
      border-radius: var(--borderRadiusDouble);
    }

    .wrapper {
      padding: var(--padding);
    }
  }
</style>
<style is:global lang="scss">
@import 'src/styles/_globals.scss';
@import 'src/styles/typography.scss';

  .content > h2 {
    margin-top: var(--paddingTriple);
  }

  .content > h4 {
    margin-top: var(--paddingDouble);
  }

  .content > ul {
    padding-left: var(--padding);
    list-style-image: url("/logo/bulletPoints/white.svg");
  }

  .content > pre {
    @include elev-9();
    border-radius: var(--borderRadius);
    padding: var(--paddingHalf);
    max-width: calc(100vw - var(--padding));
  }

  .content > pre > code > span > span {
    font-family: monospace;
  }

  .content > .astro-code {
    background-color: $elevation6 !important;
  }
</style>
